/**{
  padding: 0;
  margin: 0;
} */


body {
  background-color: black; 
  text-align: center;
  color:orange;
  font-family: 'Fira Code','Courier New', monospace;
  list-style: "\1F319 ";

}

img {
  -webkit-transform: translate3d(0, 0, 0); /* Forces GPU rendering */
  -webkit-backface-visibility: hidden; /* Improves rendering quality */
  display: inline-block;
  margin: 10px 20px;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Navigation links */
.navbar a {
  float: left;
  padding: 5px;
  color: orangered;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #555;
}

/* Style the current/active link */
.navbar a.active {
  background-color: orangered;
  color:#000
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav ul li {
  display: inline-block;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
  text-align: center;
}


/* unvisited link */
a:link {
  color: orangered;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* visited link */
a:visited {
  color: orangered;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:red;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: red;
  text-decoration: underline;
}

/* for image gallery */

div.gallery {
  margin: 5px;
  border: 1px solid orange;
  float: left;
  width: auto;
}

div.gallery:hover {
  border: 1px solid red;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* align image and text side by side */
.container {
  display: flex;
  align-items: center;
  justify-content: center
}



